<br>
<h1>Login</h1>
<form>
    <h1>{{formHeaderText}}</h1>
    <br>
    <h4>{{formLogin}}</h4>
    <div class="form-group">
        <label for="username">Email/Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username" [(ngModel)]="user.username">
        
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password" [(ngModel)]="user.password">
    </div>
    
    <button class="btn btn-primary" type="button" (click)="onLoginClick()">Login</button>

</form>

